<ion-tabs>

  <!--&lt;!&ndash;<ion-tab-bar slot="bottom">&ndash;&gt;-->
    <!--&lt;!&ndash;<ion-tab-button tab="tab1">&ndash;&gt;-->
      <!--&lt;!&ndash;<ion-icon name="flash"></ion-icon>&ndash;&gt;-->
      <!--&lt;!&ndash;<ion-label>Tab One</ion-label>&ndash;&gt;-->
    <!--&lt;!&ndash;</ion-tab-button>&ndash;&gt;-->

    <!--&lt;!&ndash;<ion-tab-button tab="tab2">&ndash;&gt;-->
      <!--&lt;!&ndash;<ion-icon name="apps"></ion-icon>&ndash;&gt;-->
      <!--&lt;!&ndash;<ion-label>Tab Two</ion-label>&ndash;&gt;-->
    <!--&lt;!&ndash;</ion-tab-button>&ndash;&gt;-->

    <!--&lt;!&ndash;<ion-tab-button tab="tab3">&ndash;&gt;-->
      <!--&lt;!&ndash;<ion-icon name="send"></ion-icon>&ndash;&gt;-->
      <!--&lt;!&ndash;<ion-label>Tab Three</ion-label>&ndash;&gt;-->
    <!--&lt;!&ndash;</ion-tab-button>&ndash;&gt;-->
  <!--</ion-tab-bar>-->

</ion-tabs>
