<ion-header>
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <ion-card-header>
      <ion-card-subtitle>Video call</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <video #myvideo autoplay width="300" height="300"></video>
      <ion-button margin-top="10px" shape="round" size="small" expand="full" (click)="connect()">{{connectStatus()}}</ion-button>
      <!--<ion-button color="danger" shape="round" size="small" expand="full" (click)="end()">End Call</ion-button>-->
    </ion-card-content>
  </ion-card>

  <ion-list>
    <ion-list-header>Languages</ion-list-header>

    <ion-item>
      <ion-label>Choose a language</ion-label>
      <ion-select placeholder="Select One" [(ngModel)]="locale" (change)="changeLanguage(locale)">
        <ion-select-option value="en-CA">English</ion-select-option>
        <ion-select-option value="fr-CA">French</ion-select-option>
      </ion-select>
    </ion-item>

  </ion-list>
</ion-content>
